@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sitio</h1>
    <p>Aprender a cerda de: <a href="https://github.com/ayrton1294/sitioweb">GitHub e Integración contínua</a>.</p>
</div>
